@import './scss/null.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// Variables
$color-text--main: #ffffff;
$color-text--second: #d1d1d1;
$color-text--third: #aaaaaa;

$background-color--main: #181a20;
$background-color--dark: #090a0d;
$background-color--light: #272a33;

$color-main: #f39200;
$color-correct: #209b1e;
$color-wrong: #dc2334;

$border-radius: 20px;
$font-family: 'Roboto', sans-serif;

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	font-size: 16px;
	line-height: 120%;
	color: $color-text--main;

	background-color: $background-color--main;
}

#root {
	display: grid;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
}

.container {
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 15px;
}

.container--small {
	max-width: 830px;
	margin: 0 auto;
	padding: 0 15px;
}

main {
	margin: 60px 0;
	// position: relative;
}

.btn {
	font-size: 14px;
	line-height: 140%;
	font-weight: 400;
	color: $color-text--main;

	padding: 9px 22px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.btn--solid {
	background: $color-main;
}

.btn--outline {
	background: inherit;
	border: 1px solid $color-main;
	
	&:hover {
		background: $color-main;
	}
}

@import './scss/header.scss';
@import './scss/auth.scss';
@import './scss/form.scss';
@import './scss/sets-page.scss';
@import './scss/detailSet-about.scss';
@import './scss/detailSet-term.scss';
@import './scss/detailSet-addNewTerm.scss';
@import './scss/dropdown.scss';
@import './scss/footer.scss';
