.dropdown {
	position: absolute;
	top: 0px;
	right: 0;
	z-index: 10;
}
.dropdown-editset {
	top: 30px;
}

.dropdown__body {
	border-radius: 5px;

	font-size: 14px;
	font-weight: 300;
	line-height: 140%;

	box-shadow: 1px 2px 20px 5px rgba(0, 0, 0, 0.2);
	background: $background-color--light;

	li {
		display: flex;
		padding: 15px 20px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background: $background-color--main;
		}

		img {
			max-width: 25px;
			margin-right: 10px;
			position: relative;
			top: -1px;
		}
	}
}
