.header {
	background: $background-color--dark;
	color: $color-text--main;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.header__logo {
	font-size: 30px;
	color: white;
}

.header__auth {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.header-auth__user {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		span {
			color: $color-text--main;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			margin-top: 5px;
		}
	}
}

.header-auth__btn-login,
.header-auth__btn-register {
	border-radius: 8px;
	transition: all 0.3s ease;

	font-size: 14px;
	line-height: 140%;
	font-weight: 400;
	padding: 9px 22px;

	color: $color-text--main;
}

.header-auth__btn-login {
	background: inherit;
	border: 1px solid $color-main;
	margin-right: 15px;

	&:hover {
		background: $color-main;
	}
}

.header-auth__btn-register {
	background: $color-main;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu__list {
	display: flex;
	justify-content: space-between;

	li {
		a {
			font-size: 16px;
			font-weight: 300;
			color: $color-text--main;
			transition: color 0.3s ease;
			&:hover {
				color: $color-main;
			}
		}
	}
}
