.sets-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    gap: 30px;

    li {
        background: purple;
        // width: 282px;
        height: 150px;
        border-radius: 10px;
        transition: all 0.3s ease;
        color: white;
        padding: 20px;
        a {
            cursor: pointer;
            color: white;
        }
    }
}
