.term-list {
}
.term-list__item {
	min-height: 82px;

	padding: 30px 40px;
	margin-bottom: 20px;

	background: $background-color--light;

	&:hover .term-list__img {
		opacity: 1;
	}
    
	&:last-child {
		margin-bottom: 0;
	}
}

.term-list__term {
	display: flex;
	justify-content: space-between;
	position: relative;

	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	color: $color-text--main;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 1px;
		height: 44px;

		background: $background-color--dark;
		opacity: 0.6;
	}

	img {
		position: absolute;
		top: 50%;
		right: -20px;
		transform: translate(0, -50%);

		opacity: 0;
		width: 5px;
		cursor: pointer;
		transition: all 0.3s ease;
	}
}

.term-list__inner-front,
.term-list__inner-back {
	width: 100%;
	max-width: 325px;
}

.term-list__inner-front {
}

.term-list__inner-back {
}
